.event {
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 55px auto 0;
  line-height: 1.6;
}
.event .event_title {
  color: #c63156;
  font-weight: bold;
  font-size: 30px;
}
.event .event_title span {
  padding: 0 0 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 40%, #ffebd3 0%);
}
.event .event_title span.small {
  font-size: 26px;
}
.event .event_lead {
  margin-top: 1.5em;
}
.event .event_visual {
  opacity: 0;
  margin: 30px auto 0;
}
.event .event_info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* opacity: 0; */
  position: relative;
  z-index: 1;
  -webkit-transform: translate(-1.5%, -2%);
  transform: translate(-1.5%, -2%);
  margin-top: 60px;
  padding: 34px 39px 30px;
  border: 1px solid #c63156;
}
.event .event_info:before {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 40px;
  height: 40px;
  background: url(../img/music/bg_crease_music_pc.jpg) no-repeat right bottom;
}
.event .event_info.version_study {
  background: url(../img/music/bg_music.jpg) top center;
}
.event .event_info.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease;
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
}
.event .event_visual.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease;
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
}
.event .event_info_in {
  text-align: left;
}
.event .event_info_in .event_txt p + p {
  margin-top: .7em;
}
.event .event_price {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
  color: #c63156;
  font-size: 22px;
}
.event .version_pacage {
  margin-top: 18px;
}
.event .version_pacage dt {
  display: inline-block;
  margin-bottom: .3em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
  color: #c63156;
  font-size: 20px;
}
.event .info_list {
  margin: .7em 0 0;
}
.event .info_list dt {
  margin-top: 1.4em;
  color: #c63156;
}
.event .info_list dd ul.process li {
  padding-left: 1em;
  text-indent: -1em;
}
.event .info_list dd .detail_wrap {
  margin: 16px 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 2px solid #ddd;
  font-size: 14px;
}
.event .info_list dd .detail_wrap h5 {
  display: inline-block;
  margin: 0 0 .5em;
  font-size: 16px;
  font-weight: 600;
  background: url(../img/music/line_r.png) repeat-x bottom left;
  background-size: 46px auto;
}
.event .info_list dd .detail_wrap .att {
  margin: 0 0 1.4em;
}
.event .info_list dd .detail_wrap .txt {
  margin: 0 0 1.4em;
}

.event .event_info_title {
  margin-bottom: 25px;
  color: #c63156;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
}
.event .event_info_title .day {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
}
.event .event_info_time {
  font-size: 16px;
}

.event_sub {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: relative;
  width: 90%;
  max-width: 1080px;
  margin: 75px auto 0;
  line-height: 1.6;
}
.event_sub.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.event_sub.attention ul.att,
.event_sub.goods ul.att {
  text-align: left;
}
.event_sub.attention h4 {
  display: inline-block;
  margin: 30px 0 10px;
  padding: 0 4px;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
}
.event_sub.attention h5 {
  display: inline-block;
  margin: 0px 0 10px;
  padding-bottom: 1px;
  border-bottom: 1px dashed #b8b8b8;
  font-size: 14px;
  font-weight: bold;
}
.event_sub.attention p.txt_flower {
  margin: 0 0 20px;
  font-size: 13px;
}
.event_sub.attention p.txt_flower span {
  font-weight: bold;
}
.event_sub .sub_title {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 5px 2px;
  background: url(../img/music/line_r.png) repeat-x bottom left;
  background-size: 46px auto;
  color: #c63156;
  font-weight: bold;
  font-size: 24px;
}
.event_sub p strong {
  display: inline-block;
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
}
.event_sub ul {
  margin-top: 10px;
}
.event_sub .ticket_info {
  margin-bottom: 60px;
  letter-spacing: 0.07em;
}
.event_sub .ticket_info .sub_left {
  margin-bottom: 16px;
}
.event_sub .ticket_info .sub_left span {
  display: inline-block;
  margin-top: 9px;
  padding-bottom: 1px;
  border-bottom: 1px dashed #b8b8b8;
  font-weight: bold;
}
.event_sub .ticket_info .sub_left strong.type {
  color: #c63156;
  background: none;
}
.event_sub .ticket_info .txt_detail {
  width: 540px;
  margin: auto;
  text-align: left;
  font-size: 15px;
}
.event_sub .ticket_info .txt_detail.mini {
  text-align: center;
}
.event_sub .ticket_info .txt_detail li {
  margin-bottom: 8px;
  padding-left: 1em;
  text-indent: -1em;
  word-break: break-all;
}
.event_sub .ticket_info .txt_detail.mini li {
  margin-bottom: 18px;
}
.event_sub .ticket_info .txt_detail li span {
  font-weight: bold;
}
.event_sub .ticket_info .att {
  width: 540px;
  margin: 14px auto 18px;
  text-align: left;
}
.event_sub .ticket_info .att.mini {
  text-align: center;
}
.event_sub.goods h4 {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 4px;
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffebd3));
  background: linear-gradient(transparent 50%, #ffebd3 0%);
  font-weight: bold;
}
.event_sub.goods .goods_time {
  display: inline-block;
  margin: 0 15px 30px;
  font-size: 14px;
}
.event_sub.goods .goods_time dt {
  color: #c63156;
  font-weight: bold;
}
.event_sub.goods .goods_time dd {
  font-size: 13px;
  line-height: 1.8;
}
.event_sub.goods .goods_list {
  margin-bottom: 30px;
  letter-spacing: -.4em;
}
.event_sub.goods .goods_list li.goods_item {
  position: relative;
  display: inline-block;
  width: 260px;
  margin: 0 15px 30px;
  border: 1px solid #c63156;
  letter-spacing: normal;
  vertical-align: top;
}
.event_sub.goods .goods_list li.goods_item figure {
  cursor: pointer;
  border-bottom: 1px dashed #c63156;
}
.event_sub.goods .goods_list li.goods_item figure img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.event_sub.goods .goods_list li.goods_item figure img:hover {
  opacity: .6;
}
.event_sub.goods .goods_list li.goods_item .txt_area {
  position: relative;
  padding: 18px 20px 16px;
  text-align: left;
}
.event_sub.goods .goods_list li.goods_item .txt_area .name {
  display: inline-block;
  margin: 0 0 8px;
  font-size: 15px;
  line-height: 1.3em;
  font-weight: bold;
  color: #c63156;
}
.event_sub.goods .goods_list li.goods_item .txt_area .price {
  margin: 0 0 4px;
  font-size: 13px;
  letter-spacing: 0.07em;
}
.event_sub.goods .goods_list li.goods_item .txt_area .sub {
  margin: 0 0 12px;
  font-size: 11px;
}
.event_sub.goods .goods_list li.goods_item .txt_area .detail {
  margin: 0 0 8px;
  font-size: 12px;
  color: #888;
  line-height: 1.6em;
}
.event_sub.goods .goods_list li.goods_item .txt_area .detail_02 {
  font-size: 12px;
  color: #888;
  line-height: 1.6em;
}

a.buy_btn {
  display: block;
  width: 360px;
  position: relative;
  margin: 10px auto 20px;
  padding: 16px 0;
  background-color: #c63156;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
a.buy_btn:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fdb175;
  border-radius: 5px;
}
a.buy_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  width: 36px;
  height: 100%;
  background: url(../img/music/ar_w.png) no-repeat center center;
  background-size: contain;
}

.att {
  font-size: 12px;
}
.att.mini {
  width: 560px;
  margin: auto;
}
.att li {
  padding-left: 1em;
  text-indent: -1em;
}

.infomation {
  width: 540px;
  margin: 40px auto;
  font-size: 12px;
}

@media screen and (max-width: 750px) {
  .event {
    margin-top: 30px;
    line-height: 1.5;
  }
  .event .event_lead {
    margin-top: 1.5em;
    text-align: left;
  }
  .event .event_title {
    font-size: 16px;
    font-size: 3.8vw;
    letter-spacing: -.02em;
  }
  .event .event_title span {
    padding: 0 0 1px;
  }
  .event .event_title span.small {
    font-size: 16px;
    font-size: 3.5vw;
  }
  .event .event_visual {
    width: 104%;
    margin-top: 15px;
    margin-left: -2%;
  }
  .event .artist_name {
    margin-top: 10px;
    font-size: 18px;
  }
  .event .artist_member {
    margin-top: 3px;
    font-size: 12px;
  }
  .event .release_date {
    margin: 10px 0 15px;
    font-size: 16px;
  }
  .event .event_info {
    margin-top: 60px;
    padding: 25px 4% 30px;
  }
  .event .event_info:before {
    width: 20px;
    height: 20px;
    background: url(../img/music/bg_crease_music_sp.jpg) no-repeat right bottom;
    background-size: contain;
  }
  .event .event_info.version_study {
    background-size: 19px auto;
  }
  .event .event_info_in .event_txt {
    font-size: 12px;
  }
  .event .event_price, .event .version_pacage dt {
    font-size: 15px;
  }
  .event .event_info_title {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
  }
  .event .event_info_title .day {
    margin: 0 auto 10px;
  }
  .event .event_info_title .place {
    display: block;
  }
  .event .event_info_time {
    font-size: 12px;
  }

.event .info_list dd .detail_wrap {
  margin: 16px 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 2px solid #ddd;
  font-size: 14px;
}
.event .info_list dd .detail_wrap h5 {
  display: inline-block;
  margin: 0 0 .5em;
  font-size: 12px;
  background: url(../img/music/line_r.png) repeat-x bottom left;
  background-size: 23px auto;
}
.event .info_list dd .detail_wrap .att {
  margin: 0 0 1.4em;
}
.event .info_list dd .detail_wrap .txt {
  font-size: 12px;
  margin: 0 0 1.4em;
}
  .event_sub {
    margin-top: 45px;
    font-size: 12px;
  }
  .event_sub .sub_title {
    margin-bottom: 10px;
    padding: 0 3px;
    background-size: 24px auto;
    font-size: 17px;
  }
  .event_sub p {
    text-align: left;
  }
  .event_sub p strong {
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
  .event_sub p.sub_left {
    text-align: center;
  }
  .event_sub.goods h4 {
    margin: 0 0 4px;
    padding: 0 4px;
    font-size: 14px;
  }
  .event_sub.goods .goods_time {
    display: inline-block;
    margin: 10px 15px 20px;
    font-size: 12px;
  }
  .event_sub.goods .goods_time dt {
  }
  .event_sub.goods .goods_time dd {
    font-size: 11px;
    line-height: 1.8;
  }
  .event_sub ul {
    text-align: left;
  }
  .event_sub .privilege_item {
    margin: 20px auto 35px;
  }
  .event_sub .privilege_store {
    text-align: left;
  }
  .event_sub .privilege_store dd ul {
    margin: 10px 0 0;
  }
  .event_sub .privilege_store dd ul li {
    width: 49%;
    margin: 0 2% 20px 0;
  }
  .event_sub .privilege_store dd ul li:nth-child(even) {
    margin-right: 0;
  }
  .event_sub .privilege_store dd ul li span {
    font-size: 11px;
  }
  .event_sub .privilege_store + .att {
    text-align: left;
  }
  .event_sub .more {
    text-align: left;
  }
  .event_sub .ticket_info {
    margin-bottom: 40px;
  }
  .event_sub .ticket_info .sub_left {
    margin-bottom: 16px;
  }
  .event_sub .ticket_info .txt_detail {
    width: 100%;
    font-size: 12px;
  }
  .event_sub .ticket_info .att {
    width: 100%;
    margin: 14px auto 18px;
    text-align: left;
  }
  .event_sub.goods .goods_list li.goods_item {
    width: 48%;
    margin: 0 4% 20px 0;
  }
  .event_sub.goods .goods_list li.goods_item:nth-child(even) {
    margin-right: 0;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area {
    padding: 18px 7% 16px;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area .name {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 1.3em;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area .price {
    margin: 0 0 4px;
    font-size: 13px;
    letter-spacing: 0.07em;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area .sub {
    margin: 0 0 12px;
    font-size: 11px;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area .detail {
    margin: 0 0 8px;
    font-size: 11px;
  }
  .event_sub.goods .goods_list li.goods_item .txt_area .detail_02 {
    font-size: 11px;
  }
  .event_sub.attention h4 {
    margin: 20px 0 6px;
    padding: 0 4px;
    font-size: 13px;
  }
  .event_sub.attention h5 {
    margin: 4px 0 10px;
    padding-bottom: 1px;
    font-size: 12px;
  }
  .event_sub.attention p.txt_flower {
    margin: 0 0 20px;
    font-size: 11px;
    text-align: center;
  }
  .event_sub.attention p.txt_flower span {
    font-weight: bold;
  }
  a.buy_btn {
    width: 100%;
    margin: 4px auto 14px;
    font-size: 12px;
    padding: 12px 0;
  }
  a.buy_btn a {
    padding: 10px 8%;
    font-size: 13px;
  }
  a.buy_btn a:after {
    right: 4%;
    width: 28px;
  }

  .att {
    font-size: 11px;
  }
  .att.mini {
    width: 100%;
  }

  .infomation {
    width: 100%;
    margin: 0 auto 20px;
    font-size: 11px;
  }
}
@media screen and (min-width: 751px) {
  .event .event_info:before {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  .event .event_info_in {
    font-size: 0;
    letter-spacing: -.4em;
  }
  .event .event_info_in .event_txt {
    display: block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: normal;
  }
  .event .event_info_title.pc {
    display: inline-block;
  }

  a.buy_btn:before {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
  a.buy_btn:after {
    -webkit-transition: right .3s ease;
    transition: right .3s ease;
  }
  a.buy_btn:hover:before {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
  }
  a.buy_btn:hover:after {
    right: 20px;
  }
}
.floatcontents {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  opacity: 0;
  z-index: 70;
}
.floatcontents .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.floatcontents .modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.floatcontents .images {
  position: absolute;
  background: no-repeat center;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

@media only screen and (min-width: 751px) {
  .floatcontents .modal_close {
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .floatcontents .modal_close:hover {
    opacity: .6;
  }
  .floatcontents .images {
    width: 600px;
    height: 90%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .floatcontents .images img {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .floatcontents .modal_close {
    width: 35px;
    height: 35px;
    width: 40px;
    height: 40px;
  }
  .floatcontents .images {
    width: 100%;
    height: 66.6%;
    top: 15%;
  }
}