.event_index .index_cont {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translate(-1.5%, -2%);
  transform: translate(-1.5%, -2%);
}
.event_index .index_cont.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease;
  transition: transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03), opacity 0.7s ease, -webkit-transform 0.8s cubic-bezier(0.19, 0.88, 0.32, 1.03);
}
.event_index .index_cont .event_list {
  width: 90%;
  max-width: 1080px;
  margin: 50px auto 0;
  text-align: left;
}
.event_index .index_cont .event_list li {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  padding: 20px 40px 20px;
  border: 1px solid #c63156;
}
.event_index .index_cont .event_list li:before {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 24px;
  height: 24px;
  background: url(../img/top/bg_crease_news_pc.jpg) no-repeat right bottom;
}
.event_index .index_cont .event_list li:after {
  content: "";
  position: absolute;
  right: 60px;
  bottom: 25px;
  width: 87px;
  height: 21px;
  background: url(../img/top/btn_more.png) no-repeat top left;
  -webkit-background-size: 87px 21px;
  background-size: 87px 21px;
}
.event_index .index_cont .event_list li .event_info h4 {
  position: relative;
  display: block;
  width: 86%;
  margin-bottom: 10px;
  padding-bottom: 12px;
  color: #c63156;
  font-size: 19px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  z-index: 1;
  font-weight: bold;
  overflow: hidden;
  background: url(../img/top/line.png) repeat-x left bottom;
  background-size: 40px auto;
}
.event_index .index_cont .event_list li .event_info dl {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: -.4em;
}
.event_index .index_cont .event_list li .event_info dl dt {
  width: 10%;
  width: 119px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.event_index .index_cont .event_list li .event_info dl dd {
  width: 89%;
  width: calc(100% - 80px);
  width: -webkit-calc(100% - 130px);
  display: inline-block;
  letter-spacing: normal;
}
.event_index .index_cont .event_list li a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .event_index .index_cont .event_list {
    width: 89.3%;
    max-width: unset;
    margin: 30px auto;
  }
  .event_index .index_cont .event_list li {
    margin-bottom: 12px;
    padding: 25px 5% 30px;
  }
  .event_index .index_cont .event_list li:before {
    width: 16px;
    height: 16px;
    background: url(../img/top/bg_crease_news_sp.jpg) no-repeat right bottom;
    background-size: contain;
  }
  .event_index .index_cont .event_list li:after {
    right: 5%;
    bottom: 12px;
    width: 58px;
    height: 14px;
    -webkit-background-size: 58px 14px;
    background-size: 58px 14px;
  }
  .event_index .index_cont .event_list li .event_info {
    padding-left: 0;
  }
  .event_index .index_cont .event_list li .event_info h4 {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 12px;
    font-size: 13px;
    font-size: 3.4666666667vw;
  }
  .event_index .index_cont .event_list li .event_info h4:before {
    height: 12px;
  }
  .event_index .index_cont .event_list li .event_info dl {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
  .event_index .index_cont .event_list li .event_info dl dt {
    width: 26%;
  }
  .event_index .index_cont .event_list li .event_info dl dd {
    width: 74%;
  }
  .event_index .index_cont .event_list li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
.event_index .index_cont .event_list li.fin .event_info h4 {
  color: #6f6f6f;
}
@media screen and (min-width: 751px) {
  .event_index .anchor_nav ul li:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fe9d70;
    z-index: -1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .event_index .anchor_nav ul li:hover:before {
    top: 5px;
    left: 5px;
  }
  .event_index .event_list li {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
  .event_index .event_list li:before {
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  .event_index .event_list li:hover {
    -webkit-transform: translate(-0.4%, -1%);
    transform: translate(-0.4%, -1%);
  }
  .event_index .event_list li:hover:before {
    right: -2px;
    bottom: -2px;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }
}