.l-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.l-loading::before {
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #9ce9f5;
}

.l-loading.active::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
  -webkit-transition: all 1.4s cubic-bezier(.215, .61, .355, 1) 1.4s;
  transition: all 1.4s cubic-bezier(.215, .61, .355, 1) 1.4s;
}

.l-loading.c-heroine_rizu::before {
  background: #feeedf;
}

.l-loading.c-heroine_uruka::before {
  background: #fce6e6;
}

.l-loading.c-heroine_mafuyu::before {
  background: #fff1f6;
}

.l-loading.c-heroine_asumi::before {
  background: #f0edfb;
}

.l-loading_img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
  width: 70.5vh;
  height: 100%;
  background: url(../img/top/loading/img_fumino.jpg) center left no-repeat;
  background-size: 100%;
}

.c-heroine_rizu .l-loading_img {
  background-image: url(../img/top/loading/img_rizu.jpg);
}

.c-heroine_uruka .l-loading_img {
  background-image: url(../img/top/loading/img_uruka.jpg);
}

.c-heroine_mafuyu .l-loading_img {
  background-image: url(../img/top/loading/img_mafuyu.jpg);
}

.c-heroine_asumi .l-loading_img {
  background-image: url(../img/top/loading/img_asumi.jpg);
}

.active .l-loading_img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 1.2s cubic-bezier(.215, .61, .355, 1) 1.6s;
  transition: all 1.2s cubic-bezier(.215, .61, .355, 1) 1.6s;
}

.l-loading_txt {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: calc(100% - 70.5vh);
  height: 100%;
}

.l-loading canvas {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
}

.l-loading .c-loading_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
}

.l-loading .loading_logo img {
  position: relative;
}

.l-loading .loading_chara li {
  opacity: 0;
  position: absolute;
  width: 50%;
  max-width: 550px;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.l-loading .loading_chara li.active {
  opacity: 1;
  transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
}

.l-loading .loading_chara li.chara_nariyuki {
  bottom: -10%;
  left: 50%;
  transform: translate(-40%, 50px);

  -webkit-transform: translate(-40%, 50px);
}

.l-loading .loading_chara li.chara_nariyuki.active {
  transform: translate(-40%, 0px);

  -webkit-transform: translate(-40%, 0px);
}

.l-loading .loading_chara li.chara_fumino {
  bottom: -30%;
  left: -10%;
  transform: rotate(20deg) translateY(50px);

  -webkit-transform: rotate(20deg) translateY(50px);
}

.l-loading .loading_chara li.chara_fumino.active {
  transform: rotate(20deg) translateY(0px);

  -webkit-transform: rotate(20deg) translateY(0px);
}

.l-loading .loading_chara li.chara_rizu {
  right: -7.5%;
  bottom: -30%;
  transform: rotate(-25deg) translateY(50px);

  -webkit-transform: rotate(-25deg) translateY(50px);
}

.l-loading .loading_chara li.chara_rizu.active {
  transform: rotate(-25deg) translateY(0px);

  -webkit-transform: rotate(-25deg) translateY(0px);
}

.l-loading .loading_chara li.chara_mafuyu {
  top: 10%;
  left: -18%;
  transform: rotate(60deg) translateY(50px);

  -webkit-transform: rotate(60deg) translateY(50px);
}

.l-loading .loading_chara li.chara_mafuyu.active {
  transform: rotate(60deg) translateY(0px);

  -webkit-transform: rotate(60deg) translateY(0px);
}

.l-loading .loading_chara li.chara_uruka {
  top: -45%;
  right: 10%;
  transform: rotate(160deg) translateY(50px);

  -webkit-transform: rotate(160deg) translateY(50px);
}

.l-loading .loading_chara li.chara_uruka.active {
  transform: rotate(160deg) translateY(0px);

  -webkit-transform: rotate(160deg) translateY(0px);
}

.l-loading .loading_chara li.chara_asumi {
  top: -45%;
  left: 22%;
  transform: rotate(200deg) translateY(50px);

  -webkit-transform: rotate(200deg) translateY(50px);
}

.l-loading .loading_chara li.chara_asumi.active {
  transform: rotate(200deg) translateY(0px);

  -webkit-transform: rotate(200deg) translateY(0px);
}

@media screen and (max-width: 768px) {
  .l-loading_img {
    -webkit-transform: translate(-35px, -35px);
            transform: translate(-35px, -35px);
    width: 82.4%;
    background-position: top left;
  }
  .l-loading_txt {
    top: auto;
    bottom: 20px;
    width: 160px;
    height: auto;
  }
  .l-loading canvas {
    top: 0;
    bottom: auto;
  }
  .l-loading .loading_logo {
    position: relative;
    width: 146px;
    height: auto;
  }
  .l-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .l-loading .c-loading_inner {
    width: 100%;
    margin-left: -50%;
  }
  .l-loading .loading_chara li {
    width: 65%;
  }
  .l-loading .loading_chara li.chara_nariyuki {
    bottom: -5%;
  }
  .l-loading .loading_chara li.chara_fumino {
    bottom: -5%;
    left: -25%;
    transform: rotate(35deg) translateY(50px);

    -webkit-transform: rotate(35deg) translateY(50px);
  }
  .l-loading .loading_chara li.chara_fumino.active {
    transform: rotate(35deg) translateY(0px);

    -webkit-transform: rotate(35deg) translateY(0px);
  }
  .l-loading .loading_chara li.chara_rizu {
    right: -10%;
    bottom: 0%;
    transform: rotate(-25deg) translateY(50px);

    -webkit-transform: rotate(-25deg) translateY(50px);
  }
  .l-loading .loading_chara li.chara_rizu.active {
    transform: rotate(-25deg) translateY(0px);

    -webkit-transform: rotate(-25deg) translateY(0px);
  }
  .l-loading .loading_chara li.chara_mafuyu {
    top: 15%;
    left: -20%;
    transform: rotate(60deg) translateY(50px);

    -webkit-transform: rotate(60deg) translateY(50px);
  }
  .l-loading .loading_chara li.chara_mafuyu.active {
    transform: rotate(60deg) translateY(0px);

    -webkit-transform: rotate(60deg) translateY(0px);
  }
  .l-loading .loading_chara li.chara_uruka {
    top: -15%;
    right: -30%;
    transform: rotate(225deg) translateY(50px);

    -webkit-transform: rotate(225deg) translateY(50px);
  }
  .l-loading .loading_chara li.chara_uruka.active {
    transform: rotate(225deg) translateY(0px);

    -webkit-transform: rotate(225deg) translateY(0px);
  }
  .l-loading .loading_chara li.chara_asumi {
    top: -28.5%;
    left: 30%;
  }
}

@media screen and (min-width: 769px) {
  .l-loading .loading_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 91px;

    -webkit-transform: translate(-50%, -50%);
  }
}

@media all and (-ms-high-contrast: none) {
  .l-loading .loading_logo img {
    width: 200px;
    height: 91px;
  }
}
