.content_inner.story {
  width: 895px;
  padding-bottom: 316px;
}

.story_category {
  position: relative;
  width: 663px;
  padding-left: 10px;
  margin: 0 auto 30px;
  text-align: left;
}
.story_category ul li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 14px;
  vertical-align: top;
  letter-spacing: normal;
}
.story_category ul li::before {
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  bottom: -6px;
  left: -2.5px;
  width: 100%;
  width: 0;
  height: 2px;
  background: #ffff4f;
  border: 2px solid #000;
  line-height: 1px;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.story_category ul li:hover::before {
  opacity: 1;
  width: 100%;
}
.story_category ul li.now::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.story_category ul li + li {
/*   margin-left: 29px; */
}
.story_category ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .13em;
  text-decoration: none;
}

.story_content {
  position: relative;
  width: 845px;
  margin-left: 10px;
}
.story_content::before {
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #ffff4f;
}
.story_content.active .story_box .story_inner .has_line::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

.story_box {
  position: relative;
  padding: 15px 0;
  background: #fff;
  border: 5px solid #000;
}
.story_box .story_inner {
  position: relative;
  padding: 42px 0 55px 65px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: .075em;
}
.story_box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 95%;
  background: url(../img/chara/bg_note_repeat.svg) top left repeat-y;
  background-size: contain;
  z-index: 9;
}
.story_box .story_inner::after {
/*   content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 697px;
  background: url(../img/common/bg_grid_repeat.jpg) top left repeat; */
}

.story_item .item_head {
  position: relative;
}
.story_item .item_head h3 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 53px;
  font-size: 54px;
  font-family: "Montserrat", sans-serif;
  width: auto;
  padding: 0 10px 10px;
  color: #fff;
  font-weight: 800;
  letter-spacing: .075em;
  z-index: 2;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
.story_item .item_head h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  background: #ffff4f;
  border: 1px solid #000;
  opacity: 1;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: -1;
}
.story_item .item_head .ttl {
  display: block;
  margin: 0 0 16px 164px;
  padding: 10px 0 0;
  min-height: 58px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: .075em;
}
.story_item .story_slide_wrap {
  position: relative;
  width: 730px;
}
.story_item .story_slide_wrap .slide_left {
  position: absolute;
  left: -25px;
  top: 50%;
  width: 42px;
  height: 42px;
  background: url(../img/common/arrow_left.svg) no-repeat center center;
  -webkit-background-size: 15px auto;
  background-size: 15px auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #9ce8f5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 3px 3px #000;
}
.story_item .story_slide_wrap .slide_left:hover {
  background-color: #ffff4f;
}
.story_item .story_slide_wrap .slide_right {
  position: absolute;
  right: -25px;
  top: 50%;
  width: 42px;
  height: 42px;
  background: url(../img/common/arrow_right.svg) no-repeat center center;
  -webkit-background-size: 15px auto;
  background-size: 15px auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #9ce8f5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 3px 3px #000;
}
.story_item .story_slide_wrap .slide_right:hover {
  background-color: #ffff4f;
}
.story_item .summary {
  width: 730px;
  margin: 28px 0 60px;
  font-size: 16px;
  line-height: 2.2;
}
.story_item .staff {
  position: relative;
  z-index: 6;
}
.story_item .staff::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -65px;
  width: 835px;
  height: 204px;
  background: url(../img/common/bg_grid_repeat.jpg) top left repeat;
  z-index: 0;
}
.story_item .staff h4 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  width: auto;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
  z-index: 7;
}
.story_item .staff p {
  position: relative;
  padding: 16px 0 0;
  min-height: 184px;
  font-size: 15px;
  line-height: 2.4;
  z-index: 7;
}
.story_item .movie {
  position: relative;
  margin-top: 60px;
  width: 730px;
  z-index: 6;
}
.story_item .movie h4 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  padding: 0 0 16px;
  width: auto;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
.story_item .movie .movie_in {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.story_item .movie .movie_in iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .content_inner.story {
    width: 90%;
    padding-bottom: 142px;
  }
  .content_inner.story .content_title {
    margin-bottom: 29px;
  }

  .story_content {
    width: calc(100% - 30px);
    margin-left: 10px;
  }

  .story_box {
    padding: 8px 0;
    border: 3px solid #000;
  }
  .story_box .story_inner {
    position: relative;
    padding: 30px 3% 38px 12%;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: .05em;
    overflow: hidden;
  }
  .story_box .story_inner .has_line::before {
    bottom: -4px;
    height: 4px;
  }
  .story_box .story_inner .has_line.is_big {
    font-size: 25px;
    line-height: 45px;
  }
  .story_box .story_inner::before {
    left: -12px;
    width: 32px;
    height: 97%;
  }
  .story_box .story_inner::after {
    /* content: ""; */
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 270px;
    background: url(../img/common/bg_grid_repeat.jpg) top left repeat;
  }

  .story_category {
    margin-bottom: 18px;
    text-align: center;
    width: auto;
    padding-left: 0;
  }
  .story_category ul li {
    margin: 0 2% 16px 2% !important;
  }
  .story_category ul li a {
    font-size: 14px;
    font-size: 3.7333333333vw;
    letter-spacing: .075em;
  }

  .story_item .item_head h3 {
    margin-bottom: 53px;
    font-size: 28px;
    font-size: 7.4666666667vw;
    width: auto;
    padding: 0 5px 6px;
    z-index: 2;
  }
  .story_item .item_head h3::before {
    height: 13px;
  }
  .story_item .item_head .ttl {
    margin: 0 0 16px 35%;
    padding: 0 0 0;
    min-height: 34px;
    font-size: 13px;
    font-size: 3.4666666667vw;
  }
  .story_item .story_slide_wrap {
    width: 96%;
  }
  .story_item .story_slide_wrap .slide_left {
    left: -10px;
    width: 21px;
    height: 21px;
    -webkit-background-size: 8px auto;
    background-size: 8px auto;
    box-shadow: 2px 2px #000;
  }
  .story_item .story_slide_wrap .slide_right {
    right: -10px;
    width: 21px;
    height: 21px;
    -webkit-background-size: 8px auto;
    background-size: 8px auto;
  }
  .story_item .summary {
    width: 96%;
    margin: 16px 0 24px;
    font-size: 12px;
    font-size: 3.2vw;
    line-height: 2;
  }
  .story_item .staff::after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: -50%;
    width: 200%;
    height: 100%;
    background: url(../img/common/bg_grid_repeat.jpg) top left repeat;
    z-index: 0;
  }
  .story_item .staff h4 {
    font-size: 17px;
    font-size: 4.5333333333vw;
    text-shadow: none;
    -webkit-text-stroke: 1px #000;
  }
  .story_item .staff p {
    position: relative;
    padding: 16px 0 22px;
    min-height: auto;
    font-size: 11px;
    font-size: 2.9333333333vw;
    line-height: 2.4;
  }
  .story_item .movie {
    position: relative;
    margin-top: 50px;
    width: 96%;
    z-index: 6;
  }
}
@media screen and (max-width: 321px) {
  .content_inner.story .story_box .story_inner {
    font-size: 11px;
    line-height: 26px;
    letter-spacing: .03em;
  }
}