.content_inner.news .news_category {
  margin-bottom: 30px;
  text-align: center;
}

.content_inner.news .news_category ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.news .news_category ul li::before {
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  bottom: -6px;
  left: -2.5px;
  width: 100%;
  width: 0;
  height: 2px;
  background: #ffff4f;
  border: 2px solid #000;
  line-height: 1px;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.content_inner.news .news_category ul li.cate_now::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.content_inner.news .news_category ul li + li {
  margin-left: 29px;
}

.content_inner.news .news_category ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .13em;
  text-decoration: none;
}

.content_inner.news .c-news_list .no_news {
  padding: 30px;
}


.content_inner.news .c-news_list {
  position: relative;
  padding: 8px 0;
  background: rgba(255, 255, 255, .7);
}

.content_inner.news .c-news_list .list_item li {
  position: relative;
  padding: 20px 20px 17px;
  font-size: 0;
  letter-spacing: -.4em;
}

.content_inner.news .c-news_list .list_item li + li {
  border-top: 2px solid #000;
}

.content_inner.news .c-news_list .list_item li a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.news .c-news_list .list_item .item_left, .content_inner.news .c-news_list .list_item .item_right {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: normal;
}

.content_inner.news .c-news_list .list_item .item_left {
  position: relative;
  width: 120px;
  height: 120px;
}

.content_inner.news .c-news_list .list_item .item_left .thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.content_inner.news .c-news_list .list_item .item_right {
  width: calc(100% - 134px);
  margin-left: 14px;
}

.content_inner.news .c-news_list .list_item .item_right .date {
  color: #f5588b;
  font-weight: 700;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .08em;
}

.content_inner.news .c-news_list .list_item .item_right .title {
  margin: 9px 0 13px;
  overflow: hidden;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .05em;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.content_inner.news .c-news_list .list_item .item_right .text {
  height: 66px;
  overflow: hidden;
  font-size: 13px;
  line-height: 22px;
}

.content_inner.news .c-news_list .list_item .item_right .text a {
  display: inline;
  position: relative;
  top: auto;
  left: auto;
  color: #000;
  text-decoration: none;
}

.content_inner.news .c-news_list .list_item .item_right .text img, .content_inner.news .c-news_list .list_item .item_right .text iframe, .content_inner.news .c-news_list .list_item .item_right .text video {
  display: none;
}

.content_inner.news .c-news_nav {
  margin-top: 30px;
  font-size: 0;
  letter-spacing: -.4em;
  text-align: center;
}

.content_inner.news .c-news_nav .nav_item {
  display: inline-block;
  vertical-align: middle;
  font-weight: 800;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: normal;
}

.content_inner.news .c-news_nav .nav_item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 13px;
  color: #000;
  text-decoration: none;
}

.content_inner.news .c-news_nav .nav_item.s-arrow {
  position: relative;
  width: 40px;
  height: 40px;
}

.content_inner.news .c-news_nav .nav_item.s-arrow a {
  position: relative;
  padding: 0;
}

.content_inner.news .c-news_nav .nav_item.s-arrow a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/common/arrow_left.svg) center center no-repeat;
  background-size: 15px auto;
}

.content_inner.news .c-news_nav .nav_item.s-arrow .arrow_shadow, .content_inner.news .c-news_nav .nav_item.s-arrow .arrow_color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content_inner.news .c-news_nav .nav_item.s-arrow .arrow_shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #000;
}

.content_inner.news .c-news_nav .nav_item.s-arrow .arrow_color {
  position: relative;
  background: #9cecf5;
}

.content_inner.news .c-news_nav .nav_item.s-arrow.is-prev {
  margin-right: 20px;
}

.content_inner.news .c-news_nav .nav_item.s-arrow.is-next {
  margin-left: 20px;
}

.content_inner.news .c-news_nav .nav_item.s-arrow.is-next a::after {
  background-image: url(../img/common/arrow_right.svg);
}

.content_inner.news .c-news_nav .nav_item.s-arrow.is-none {
  visibility: hidden;
}

.content_inner.news .c-news_detail {
  margin-bottom: 70px;
}

.content_inner.news .c-news_detail .detail_inner {
  position: relative;
  padding: 47px 20px 47px;
  background: rgba(255, 255, 255, .7);
}

.content_inner.news .c-news_detail .detail_date {
  color: #f5588b;
  font-weight: 700;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .08em;
}

.content_inner.news .c-news_detail .detail_title {
  padding: 8px 0 22px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: .05em;
}

.content_inner.news .c-news_detail .detail_text {
  font-size: 15px;
  line-height: 20px;
}

.content_inner.news .c-news_detail .detail_text a {
  color: #000;
}

.content_inner.news .c-news_detail .detail_text img {
  max-width: 100%;
  margin: 10px 0;
}

.content_inner.news .c-news_detail .detail_text iframe {
  max-width: 100%;
}

.content_inner.news .c-news_detail .detail_text video {
  max-width: 100%;
}

.content_inner.news .c-news_detail .detail_back {
  position: relative;
  width: 285px;
  height: 40px;
  margin: 40px auto 0;
}

.content_inner.news .c-news_detail .detail_back a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.news .c-news_detail .detail_back a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background: url(../img/common/arrow_left.svg) center right no-repeat;
  background-size: 15px auto;
}

.content_inner.news .c-news_detail .detail_back .back_shadow, .content_inner.news .c-news_detail .detail_back .back_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content_inner.news .c-news_detail .detail_back .back_shadow {
  top: 2px;
  left: 2px;
  background: #000;
}

.content_inner.news .c-news_detail .detail_back .back_color {
  background: #9ce8f5;
}

.content_inner.news .c-news_detail .detail_back .back_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .075em;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .content_inner.news .news_category ul li:hover:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .content_inner.news .c-news_list .list_item li a::before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffff4f;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  .content_inner.news .c-news_list .list_item li a:hover::before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: .3;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  .content_inner.news .c-news_detail .detail_text a:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .content_inner.news .news_category {
    margin-bottom: 18px;
    text-align: center;
  }

  .content_inner.news .news_category ul li + li {
    margin-left: 5%;
  }

  .content_inner.news .news_category ul li a {
    font-size: 14px;
    letter-spacing: .075em;
  }

  .content_inner.news .c-news_list .list_item li {
    padding: 11px 4% 12px;
  }
  .content_inner.news .c-news_list .list_item li .item_left {
    width: 93px;
    height: 93px;
  }
  .content_inner.news .c-news_list .list_item li .item_right {
    width: calc(100% - 103px);
    margin-left: 10px;
  }
  .content_inner.news .c-news_list .list_item li .item_right .date {
    font-size: 11px;
  }
  .content_inner.news .c-news_list .list_item li .item_right .title {
    height: 34px;
    margin: 5px 0 10px;
    font-size: 13px;
    line-height: 17px;
    white-space: normal;

    text-overflow: clip;
  }
  .content_inner.news .c-news_list .list_item li .item_right .text {
    height: 34px;
    font-size: 12px;
    line-height: 17px;
  }
  .content_inner.news .c-news_nav {
    margin-top: 18px;
  }
  .content_inner.news .c-news_nav .nav_item {
    font-size: 13px;
  }
  .content_inner.news .c-news_nav .nav_item a {
    padding: 0 15px;
  }
  .content_inner.news .c-news_nav .nav_item.s-arrow {
    width: 37px;
    height: 37px;
  }
  .content_inner.news .c-news_nav .nav_item.s-arrow a::after {
    background-size: 12px auto;
  }
  .content_inner.news .c-news_detail {
    margin-bottom: 40px;
  }
  .content_inner.news .c-news_detail .detail_inner {
    padding: 27px 4% 30px;
  }
  .content_inner.news .c-news_detail .detail_date {
    font-size: 12px;
  }
  .content_inner.news .c-news_detail .detail_title {
    padding: 6px 0 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25em;
    letter-spacing: .05em;
  }
  .content_inner.news .c-news_detail .detail_text {
    font-size: 12px;
    line-height: 18px;
  }
  .content_inner.news .c-news_detail .detail_text img {
    padding: 10px 0;
  }
  .content_inner.news .c-news_detail .detail_back {
    width: 75%;
    height: 35px;
    margin: 32px auto 0;
  }
  .content_inner.news .c-news_detail .detail_back a::before {
    width: 20px;
    background-size: 14px auto;
  }
  .content_inner.news .c-news_detail .detail_back .back_shadow, .content_inner.news .c-news_detail .detail_back .back_color {
    border-radius: 5px;
  }
  .content_inner.news .c-news_detail .detail_back .back_text {
    font-size: 15px;
    letter-spacing: .1em;
  }
}