.content_inner.special {
  padding-bottom: 270px;
}

.content_inner.special .special_list {
  font-size: 0;
  letter-spacing: -.4em;
}

.content_inner.special .special_list .list_item {
  display: inline-block;
  position: relative;
  width: 393px;
  margin-bottom: 38px;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: normal;
}

.content_inner.special .special_list .list_item a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.special .special_list .list_item:nth-child(even) {
  margin-left: 60px;
}

.content_inner.special .special_list .list_item .thumb {
  position: relative;
  width: 100%;
  padding-top: 44%;
}

.content_inner.special .special_list .list_item .thumb::before {
  content: "";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #ffff4f;
}

.content_inner.special .special_list .list_item .thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_inner.special .special_list .list_item .thumb .thumb_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content_inner.special .special_list .list_item .thumb .thumb_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-transform-origin: center center;

          transform-origin: center center;
}

.content_inner.special .special_list .list_item .title {
  display: inline-block;
  position: relative;
  margin-top: 34px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3em;
  letter-spacing: .075em;
}

.content_inner.special .special_list .list_item .title p {
  position: relative;
  z-index: 1;
}

.content_inner.special .special_detail {
  margin-bottom: 34px;
}

.content_inner.special .special_detail .detail_inner {
  position: relative;
  padding: 38px 20px 50px;
  background: rgba(255, 255, 255, .7);
  z-index: 1;
}

.content_inner.special .special_detail .detail_title {
  padding: 0 0 23px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: .05em;
}

.content_inner.special .special_detail .detail_content .lead_text {
  font-size: 15px;
  line-height: 1.7;
  margin: 0 0 30px;
}

.content_inner.special .special_detail .detail_content .end_text {
  color: #ea6ea4;
  font-weight: 800;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 40px;
}

.content_inner.special .special_detail .detail_content .lead_text a {
  color: #ea6ea4;
  font-weight: 500;
}
.content_inner.special .special_detail .detail_content .lead_text a:hover {
  text-decoration: none;
}


.content_inner.special .special_detail .detail_content .text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.content_inner.special .special_detail .detail_content .icon {
  margin: 12px 0 115px;
  font-size: 0;
  letter-spacing: -.4em;
}


.content_inner.special .special_detail .detail_content .icon li {
  display: inline-block;
  width: 178px;
  margin-top: 20px;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.special .special_detail .detail_content .icon li + li {
  margin-left: 20px;
}

.content_inner.special .special_detail .detail_content .icon li:nth-child(5n) {
  margin-left: 0;
}

.content_inner.special .special_detail .detail_content .icon li a {
  display: block;
  width: 100%;
  height: 100%;
}


.content_inner.special .special_detail .detail_content .img_header {
  margin: 0 0 115px;
  font-size: 0;
  letter-spacing: -.4em;
}

.content_inner.special .special_detail .detail_content .img_header li {
  display: inline-block;
  width: 380px;
  margin-top: 20px;
  margin-left: 20px;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.special .special_detail .detail_content .img_header li:nth-child(odd) {
  margin-left: 0;
}


.content_inner.special .special_detail .detail_back {
  position: relative;
  width: 285px;
  height: 40px;
  margin: 40px auto 0;
}

.content_inner.special .special_detail .detail_back a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.special .special_detail .detail_back a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background: url(https://boku-ben.com/assets/img/common/arrow_left.svg) center right no-repeat;
  background-size: 15px auto;
}

.content_inner.special .special_detail .detail_back .back_shadow, .content_inner.special .special_detail .detail_back .back_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content_inner.special .special_detail .detail_back .back_shadow {
  top: 2px;
  left: 2px;
  background: #000;
}

.content_inner.special .special_detail .detail_back .back_color {
  background: #9ce8f5;
}

.content_inner.special .special_detail .detail_back .back_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .075em;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .content_inner.special .special_list .list_item .thumb::before {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.special .special_list .list_item .thumb .thumb_inner .thumb_img::before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: .3;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(10%, -50%) rotate(-45deg);
            transform: translate(10%, -50%) rotate(-45deg);
    width: 250%;
    height: 250%;
    background: #ffff4f;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.special .special_list .list_item .title::before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 10px;
    background: #ffff4f;
    -webkit-transition: width .4s cubic-bezier(.215, .61, .355, 1);
    transition: width .4s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.special .special_list .list_item .title p {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
  }
  .content_inner.special .special_list .list_item:hover .thumb::before {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.special .special_list .list_item:hover .thumb .thumb_img::before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.special .special_list .list_item:hover .title::before {
    width: 100%;
    -webkit-transition: width .4s cubic-bezier(.215, .61, .355, 1);
    transition: width .4s cubic-bezier(.215, .61, .355, 1);
  }
}

@media screen and (max-width: 768px) {
  .content_inner.special {
    padding-bottom: 64px;
  }
  .content_inner.special .special_list .list_item {
    width: 94%;
    margin-bottom: 25px;
  }
  .content_inner.special .special_list .list_item:nth-child(even) {
    margin-left: 0;
  }
  .content_inner.special .special_list .list_item .thumb {
    padding-top: 44%;
  }
  .content_inner.special .special_list .list_item .thumb::before {
    top: 18px;
    left: 6%;
  }
  .content_inner.special .special_list .list_item .title {
    margin-top: 31px;
    font-size: 12px;
  }
  .content_inner.special .special_detail {
    margin-bottom: 40px;
  }
  .content_inner.special .special_detail .detail_inner {
    padding: 26px 4% 28px;
  }
  .content_inner.special .special_detail .detail_title {
    padding: 0 0 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25em;
    letter-spacing: .03em;
  }
  .content_inner.special .special_detail .detail_content .text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .08em;
  }
  .content_inner.special .special_detail .detail_content .icon {
    margin: 0 0 0;
    font-size: 0;
    letter-spacing: -.4em;
  }
  .content_inner.special .special_detail .detail_content .icon li {
    width: 36.5%;
  }
  .content_inner.special .special_detail .detail_content .icon li + li {
    margin-left: 0px;
  }
  .content_inner.special .special_detail .detail_content .icon li:nth-child(n+3) {
    margin-top: 6%;
  }
  .content_inner.special .special_detail .detail_content .icon li:nth-child(even) {
    margin-left: 4%;
  }
  .content_inner.special .special_detail .detail_content .icon li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .content_inner.special .special_detail .detail_content .img_header {
    margin: 0 0 115px;
  }
  .content_inner.special .special_detail .detail_content .img_header li {
    width: 77.4%;
    margin-top: 6%;
    margin-left: 0;
    vertical-align: top;
    letter-spacing: normal;
  }
  .content_inner.special .special_detail .detail_back {
    width: 75%;
    height: 35px;
    margin: 32px auto 0;
  }
  .content_inner.special .special_detail .detail_back a::before {
    width: 20px;
    background-size: 14px auto;
  }
  .content_inner.special .special_detail .detail_back .back_shadow, .content_inner.special .special_detail .detail_back .back_color {
    border-radius: 5px;
  }
  .content_inner.special .special_detail .detail_back .back_text {
    font-size: 15px;
    letter-spacing: .1em;
  }
}

/********** linestamp ****************/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

.detail_content.stamp ul {
  letter-spacing: -.4em;
}
.detail_content.stamp li {
  display: inline-block;
  vertical-align: top;
  padding: 9px;
  letter-spacing: 0;
  position: relative;
}
/* .detail_content.stamp :nth-child(7) {
  display: none;
} */
.detail_content.stamp li img {
  max-width: 100%;
}
.detail_content.stamp li label {
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.detail_content.stamp li label img {
  transition: .3s all ease;
  border: 3px solid #000;
}
.detail_content.stamp li label:hover img {
  opacity: .7;
}
.detail_content.stamp li .text {
  position: relative;
  line-height: 1.3;
}
.detail_content.stamp li input {
  position: absolute;
  left: 0;
  opacity: 0;
}
.detail_content.stamp li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffff4f;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.detail_content.stamp li.checked:before {
  opacity: 1;
}
.detail_content.stamp li.disabled:before {
  opacity: 1;
  background: #cecece;
}
.detail_content.stamp li.disabled img {
  opacity: 0.6;
}
.detail_content.stamp .stamp_submit {
}
.detail_content.stamp .stamp_submit input {
  color: #000;
  border: none;
  width:365px;
  height:75px;
  background: url(https://boku-ben.com/assets/img/special/stamp/btn_submit.png) left top no-repeat;
  text-indent: -99999px;
}
@media only screen and (min-width: 769px) {
  .detail_content.stamp li {
    width: 196px;
    height: 143px;
    margin-right: 10px;
    margin-bottom: 10px;
    pointer-events: none;
  }
  .detail_content.stamp li:nth-child(4n) {
    margin-right: 0;
  }
  .detail_content.stamp li .text {
    margin-top: 8px;
    font-size: 13px;
  }
  .detail_content.stamp .stamp_submit {
    position: relative;
    width: 360px;
    margin: 60px auto 0;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .detail_content.stamp {
    margin: 0 3%;
  }
  .detail_content.stamp li {
    width: 46%;
    margin-bottom: 10px;
    pointer-events: none;
  }
  .detail_content.stamp li:nth-child(odd) {
    margin-right: 3%;
  }
  .detail_content.stamp li .text {
    margin-top: 6px;
    font-size: 12px;
  }
  .detail_content.stamp .stamp_submit {
    width: 80%;
    margin: 40px auto 0;
  }
  .detail_content.stamp .stamp_submit input {
    width: 100%;
    height: 70px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
}