.l-wrapper {
  width: 100% !important;
}

.l-content .content_inner {
  padding-bottom: 212px;
}

.l-content .content_inner .content_title {
  margin-bottom: 60px;
}

.l-content .content_inner .content_title h3 {
  padding-bottom: 10px;
}

.more_btn {
  position: relative;
  width: 283px;
  height: 40px;
  margin: 26px auto 0;
  text-align: center;
}

.more_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9ce8f5;
  border-radius: 10px;
}

.more_btn::before {
  content: "";
  position: absolute;
  top: 0;
  top: 4px;
  left: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  background: #9ce8f5;
  background: #000;
  border-radius: 10px;
}

.more_btn p {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .05em;

  -webkit-transform: translate(-50%, -50%);
}

.more_btn p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background: url(../img/common/arrow_right.svg) left center no-repeat;
  background-size: 15px auto;
}

.more_btn a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.content_inner.top {
  width: 100%;
  padding-top: 0;
}

.content_inner.top .top_section .section_inner {
  width: 868px;
  margin: 0 auto;
}

.content_inner.top .top_section .content_title::before {
  opacity: 0;
  width: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.content_inner.top .top_section.active .content_title::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
  -webkit-transition: width .6s cubic-bezier(.165, .84, .44, 1), opacity .6s ease-in;
  transition: width .6s cubic-bezier(.165, .84, .44, 1), opacity .6s ease-in;
}

.content_inner.top .top_section.top_mv {
  position: relative;
  padding: 0;
  text-align: center;
}

.content_inner.top .top_section.top_mv .top_main {
  position: relative;
  width: 100%;
  /* padding-left: 14%; */
  text-align: center;
}

.content_inner.top .top_section.top_mv .top_main img {
  width: 100%;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes blink {
  0% {
    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.visual_190101 {
  position: relative;
  width: 100%;
  background: #fff;
}

.visual_190101 ul li {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

.visual_190101 ul li:first-child {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: blink 1.5s ease-in-out infinite alternate;

  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -webkit-transform: translateX(-50%);
}

.visual_190101 ul li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: blink 1s ease-in-out infinite alternate;

  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -webkit-transform: translateX(-50%);
}

.visual_190101 ul li:nth-child(3) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: blink 1.8s ease-in-out infinite alternate;

  -webkit-animation: blink 1.8s ease-in-out infinite alternate;
  -webkit-transform: translateX(-50%);
}

.visual_190101 ul li:last-child img {
  width: 880px;
}

.visual_190101 ul li img {
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.txt_newyear {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  -webkit-transform: translateX(-50%);
}

.content_inner.top .top_section.top_mv .mv_onair, .content_inner.top .top_section.top_mv .mv_date, .content_inner.top .top_section.top_mv .mv_catch, .content_inner.top .top_section.top_mv .mv_logo, .content_inner.top .top_section.top_mv .mv_banner, .content_inner.top .top_section.top_mv .comic_banner {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.content_inner.top .top_section.top_mv .mv_onair.active, .content_inner.top .top_section.top_mv .mv_date.active, .content_inner.top .top_section.top_mv .mv_catch.active, .content_inner.top .top_section.top_mv .mv_logo.active, .content_inner.top .top_section.top_mv .mv_banner.active, .content_inner.top .top_section.top_mv .comic_banner.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity .6s ease-in, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99);
  transition: opacity .6s ease-in, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99);
  transition: transform .8s cubic-bezier(.01, .53, .37, .99), opacity .6s ease-in;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99), opacity .6s ease-in, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99);
}

.content_inner.top .top_section.top_mv .mv_date, .content_inner.top .top_section.top_mv .mv_onair, .content_inner.top .top_section.top_mv .mv_catch, .content_inner.top .top_section.top_mv .mv_logo {
  position: absolute;
}

.content_inner.top .top_section.top_mv .mv_banner {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.content_inner.top .top_section.top_mv .comic_banner {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.content_inner.top .top_section.top_mv .mv_logo {
  bottom: 276px;
  left: -81px;
}

.content_inner.top .top_section.top_mv .mv_onair {
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 330px;
  height: auto;
}

.content_inner.top .top_section.top_mv .mv_catch {
  top: 10px;
  right: 18px;
  width: 70px;
  height: 419px;
}

.content_inner.top .top_section.top_mv .mv_date {
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 330px;
}

.content_inner.top .top_section.top_mv .mv_chara {
  display: inline-block;
  position: relative;
  height: 1008px;
  overflow: hidden;
}

.content_inner.top .top_section.top_mv .mv_chara li {
  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;
}

.content_inner.top .top_section.top_mv .mv_chara li img {
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
  -webkit-transform-style: preserve-3d;
}

.content_inner.top .top_section.top_mv .mv_chara li:nth-child(n + 2) {
  position: absolute;
  top: 0;
  left: 0;
}

.content_inner.top .top_section.top_banner {
  padding: 33px 0 30px;
  background: url(../img/common/bg_grid_repeat.jpg) top left repeat;
}

.content_inner.top .top_section.top_banner .non_swiper {
  width: 692px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.content_inner.top .top_section.top_banner .swiper-container {
  position: relative;
  width: 868px;
  overflow: hidden !important;
}

.content_inner.top .top_section.top_banner .banner_list {
  width: 100%;
}

.content_inner.top .top_section.top_banner .banner_pagination {
  position: static;
  width: 100%;
  margin-top: 12px;
}

.content_inner.top .top_section.top_banner .banner_pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background: #fff;
  border: 3px solid #000;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.content_inner.top .top_section.top_banner .banner_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

.content_inner.top .top_section.top_schedule {
  width: 868px;
  margin: 0 auto;
  padding: 82px 0 110px;
}

.content_inner.top .top_section.top_schedule.active .schedule_wrap {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
}

.content_inner.top .top_section.top_schedule .schedule_wrap {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  font-size: 0;
  letter-spacing: -.4em;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .btn_add {
  position: absolute;
  top: -57px;
  left: 0;
  width: 100%;
  padding-bottom: 60px;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .btn_add a {
  display: block;
  position: absolute;
  top: 5px;
  left: 29px;
  width: 90px;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_calender {
  display: inline-block;
  position: relative;
  width: 455px;
  margin: 0 0 0 15px;
  padding: 40px 0px 50px;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img {
  position: relative;
  width: calc(100% - 490px);
  margin-right: 20px;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_pagination {
  bottom: -55px;
  width: 100%;
  text-align: left;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background: #fff;
  border: 3px solid #000;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img::before {
  content: "";
  opacity: .7;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #ffff4f;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame {
  position: relative;
  padding: 40px 35px 30px;
  background: #fff;
  border: 4px solid #000;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 36px;
  background: url(../img/top/img_monthly_note.svg) center top no-repeat;
  background-size: contain;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame .swiper-slide {
  position: relative;
  width: 100%;
  padding-top: 124%;
}

.content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame .swiper-slide .img_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.content_inner.top .top_section.top_movie {
  position: relative;
  padding: 67px 0 93px;
  overflow: hidden;
  background: url(../img/common/bg_grid_repeat.jpg) top left repeat;
}

.content_inner.top .top_section.top_movie .movie_content {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.content_inner.top .top_section.top_movie.active .movie_content {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
}

.content_inner.top .top_section.top_movie.active .movie_deco {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .4s ease-in 1s, -webkit-transform .6s cubic-bezier(.01, .53, .37, .99) 1s;
  transition: opacity .4s ease-in 1s, -webkit-transform .6s cubic-bezier(.01, .53, .37, .99) 1s;
  transition: transform .6s cubic-bezier(.01, .53, .37, .99) 1s, opacity .4s ease-in 1s;
  transition: transform .6s cubic-bezier(.01, .53, .37, .99) 1s, opacity .4s ease-in 1s, -webkit-transform .6s cubic-bezier(.01, .53, .37, .99) 1s;
}

.content_inner.top .top_section.top_movie .movie_deco {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: -30px;
  transform: translateX(-40px);
  width: 334px;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translateX(-40px);
}

.content_inner.top .top_section.top_movie .content_title .title_line {
  display: inline-block;
  width: 367px;
  vertical-align: top;
  font-size: 0;
  letter-spacing: normal;
  letter-spacing: -.4em;
}

.content_inner.top .top_section.top_movie .content_title .title_line li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.content_inner.top .top_section.top_movie .content_title .title_line li + li {
  transform: translateX(-70px);
  margin-left: 0px;

  -webkit-transform: translateX(-70px);
}

.content_inner.top .top_section.top_movie .movie_wrap {
  width: 520px;
  margin: 0 auto 0;
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 56.25%;
  cursor: pointer;
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb::before {
  content: "";
  opacity: .7;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #ffff4f;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  box-sizing: border-box;

  -webkit-box-sizing: border-box;
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb .thumb_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb .thumb_inner .thumb_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.content_inner.top .top_section.top_movie .movie_wrap .thumb .thumb_inner .thumb_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/movie/icon_play.svg) center center no-repeat;
  background-size: 70px auto;
}

.content_inner.top .top_section.top_movie .movie_wrap .title {
  position: relative;
  margin-top: 33px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: .075em;
  text-align: center;
}

.content_inner.top .top_section.top_movie .movie_wrap .title p {
  position: relative;
  z-index: 1;
}

.content_inner.top .top_section.top_info {
  padding: 66px 0 0;
}

.content_inner.top .top_section.top_info .content_title {
  margin-bottom: 43px;
}

.content_inner.top .top_section.top_info.active .info_wrap {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
}

.content_inner.top .top_section.top_info .info_wrap {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  font-size: 0;
  letter-spacing: -.4em;
}

.content_inner.top .top_section.top_info .info_wrap .info_news {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: normal;
}

.content_inner.top .top_section.top_info .info_wrap .info_twitter {
  display: inline-block;
  position: relative;
  width: calc(100% - 463px);
  margin-top: 148px;
  padding: 20px 20px 24px;
  background: #000;
  border-radius: 5px;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: normal;
}

.content_inner.top .top_section.top_info .info_wrap .info_twitter .twitter_name {
  position: absolute;
  top: -30px;
  left: 0px;
  padding: 15px 20px 10px;
  background: #000;
  border-radius: 5px 5px 0 0;
  color: #9ce9f5;
  font-weight: 700;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .15em;
}

.content_inner.top .top_section.top_info .info_wrap .info_news {
  width: 433px;
  margin-right: 30px;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_more {
  margin-top: 32px;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content {
  position: relative;
  padding: 6px 0;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li {
  position: relative;
  padding: 25px 0 27.5px;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li + li {
  border-top: 2px solid #000;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list .date {
  color: #f5588b;
  font-weight: 700;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .08em;
}

.content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list .title {
  margin: 4px 0 0;
  overflow: hidden;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .05em;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.content_inner.top .top_section.top_link {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  padding-top: 195px;
}

.content_inner.top .top_section.top_link.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s;
  transition: transform .8s cubic-bezier(.01, .53, .37, .99) .6s, opacity .6s ease-in .6s, -webkit-transform .8s cubic-bezier(.01, .53, .37, .99) .6s;
}

.content_inner.top .top_section.top_link .link_jump {
  position: relative;
  width: 375px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
}

.content_inner.top .top_section.top_link .link_jump::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background: url(../img/common/arrow_right.svg) left center no-repeat;
  background-size: 15px auto;
}

.content_inner.top .top_section.top_link .link_jump a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content_inner.top .top_section.top_link .link_jump p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 269px;
  padding: 9px 0;
  padding-left: 35px;
  font-weight: 600;
  font-size: 18px;

  -webkit-transform: translate(-50%, -50%);
}

.content_inner.top .top_section.top_link .link_jump p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  background: url(../img/top/icon_jump.svg) center left no-repeat;
  background-size: 25px auto;
}

.l-modal.l-modal_02.img .modal_content {
  top: 227px;
  transform: translate(-50%, 0);
  width: 450px;
  border: 6px solid #000;

  -webkit-transform: translate(-50%, 0);
}

.l-modal.openingafter .txt_season02 {
  width: 762px;
  margin: 0 auto 15px;
  animation: bounce_modalin ease-in-out 3.5s;
  animation-iteration-count: infinite;

  -webkit-animation: bounce_modalin ease-in-out 3.5s;
  -webkit-animation-iteration-count: infinite;
}

.l-modal.openingafter .season02_movie_wrap {
  width: 762px;
  margin: auto;
  border: 4px solid #000;
}

.l-modal.openingafter .season02_movie_wrap .season02_movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.l-modal.openingafter .season02_movie_wrap .season02_movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes bounce_modalin {
  0%, 45%, 50%, 55%, 100% {
    transform: translateY(0);

    -webkit-transform: translateY(0);
  }
  48% {
    transform: translateY(-10px);

    -webkit-transform: translateY(-10px);
  }
  52% {
    transform: translateY(-6px);

    -webkit-transform: translateY(-6px);
  }
}

@keyframes bounce_modalin {
  0%, 45%, 50%, 55%, 100% {
    transform: translateY(0);

    -webkit-transform: translateY(0);
  }
  48% {
    transform: translateY(-10px);

    -webkit-transform: translateY(-10px);
  }
  52% {
    transform: translateY(-6px);

    -webkit-transform: translateY(-6px);
  }
}

@media screen and (min-width: 769px) {
  .content_inner.top .top_section.top_mv .mv_catch img {
    width: 70px;
    height: 419px;
  }
  .content_inner.top .top_banner .banner_list li {
    overflow: hidden;
  }
  .content_inner.top .top_banner .banner_list li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .content_inner.top .top_banner .non_swiper a {
    display: inline-block;
    position: relative;
    width: 282px;
    height: auto;
    margin: 0 10px;
    overflow: hidden;
  }
  .content_inner.top .top_banner .banner_list li a::before, .content_inner.top .top_banner .non_swiper a::before {
    content: "";
    opacity: .3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%) rotate(-45deg);
    width: 250%;
    height: 250%;
    background: #ffff4f;
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-transform: translate(20%, -50%) rotate(-45deg);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_banner .banner_list li a:hover::before, .content_inner.top .top_banner .non_swiper a:hover::before {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap {
    text-align: center;
  }
  .content_inner.top .top_movie .movie_wrap .thumb::before {
    transform: translate(0, 0);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap .thumb .thumb_img {
    overflow: hidden;
  }
  .content_inner.top .top_movie .movie_wrap .thumb .thumb_img::after {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
  }
  .content_inner.top .top_movie .movie_wrap .thumb .thumb_img::before {
    content: "";
    opacity: .3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%) rotate(-45deg);
    width: 250%;
    height: 250%;
    background: #ffff4f;
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-transform: translate(20%, -50%) rotate(-45deg);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap .title {
    display: inline-block;
  }
  .content_inner.top .top_movie .movie_wrap .title::before {
    content: "";
    opacity: .7;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 10px;
    background: #ffff4f;
    transition: width .4s cubic-bezier(.215, .61, .355, 1);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-transition: width .4s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap .title p {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
  }
  .content_inner.top .top_movie .movie_wrap:hover .thumb::before {
    transform: translate(10px, 10px);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -webkit-transform: translate(10px, 10px);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap:hover .thumb .thumb_inner .thumb_img:before {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1);
    transition: transform .6s cubic-bezier(.215, .61, .355, 1), -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);

    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_movie .movie_wrap:hover .thumb .thumb_inner .thumb_img::after {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
  }
  .content_inner.top .top_movie .movie_wrap:hover .title::before {
    width: 100%;
    transition: width .4s cubic-bezier(.215, .61, .355, 1);

    -webkit-transition: width .4s cubic-bezier(.215, .61, .355, 1);
  }
  .content_inner.top .top_info .info_wrap .info_news .news_content .news_list li a::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffff4f;
    transition: opacity .3s ease-out;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .3s ease-out;
  }
  .content_inner.top .top_info .info_wrap .info_news .news_content .news_list li a:hover::before {
    opacity: .3;
    transition: opacity .3s ease-out;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-transition: opacity .3s ease-out;
  }
}

@media all and (-ms-high-contrast: none) {
  .content_inner.top .top_section.top_mv .mv_date img {
    width: 330px;
    height: 103px;
  }
  .content_inner.top .top_section.top_mv .mv_catch img {
    width: 77px;
    height: 324px;
  }
  .content_inner.top .top_section.top_mv .mv_logo img {
    width: 487px;
    height: 222px;
  }
  .content_inner.top .top_section.top_mv .mv_onair img {
    width: 330px;
    height: 140px;
  }
  .content_inner.top .top_section.top_mv .mv_banner img, .content_inner.top .top_section.top_mv .comic_banner img {
    width: 190px;
    height: 190px;
  }
  .c-footer .footer_share .share_list li:first-child a img {
    width: 12px;
    height: 23px;
  }
  .c-footer .footer_share .share_list li:nth-child(2) a img {
    width: 20px;
    height: 16px;
  }
  .c-footer .footer_share .share_list li:nth-child(3) a img {
    width: 20px;
    height: 19px;
  }
}

@media screen and (max-width: 768px) {
  .more_btn {
    width: 68%;
    height: 38px;
    margin: 18px auto 0;
  }
  .more_btn::after {
    border-radius: 5px;
  }
  .more_btn::before {
    top: 3px;
    left: 3px;
    border-radius: 5px;
  }
  .more_btn p {
    font-size: 15px;
  }
  .more_btn p::before {
    background-size: 15px auto;
  }
  .l-header {
    position: absolute;
    top: 0;
    left: 0;
  }
  .l-header .c-header_sp .header_logo {
    visibility: hidden;
  }
  .l-content {
    padding-top: 0;
  }
  .l-content .c-content_wrap .content_inner.top {
    padding-bottom: 42px;
  }
  .l-content .c-content_wrap .content_inner.top .content_title {
    margin-bottom: 42px;
  }
  .l-content .c-content_wrap .content_inner.top .content_title h3 {
    padding-bottom: 3px;
    font-size: 30px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section .section_inner {
    width: 90%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.menu_bnr {
    width: 90%;
    margin: 0px auto 14px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv {
    /* padding-top: 75px; */
    /* padding-left: 12%; */
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_onair {
    top: -3.5%;
    right: 0;
    transform: rotate(-90deg);
    width: 55%;

    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_date {
    top: auto;
    bottom: 2%;
    left: 2%;
    width: 50%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_banner {
    top: auto;
    right: -2%;
    bottom: -1%;
    left: auto;
    width: 24%;
    height: auto;

    -webkit-transform: rotate(30deg);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .comic_banner {
    top: auto;
    right: 2%;
    bottom: -1%;
    left: auto;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    width: 30%;
    height: auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_catch {
    top: auto;
    bottom: 1.5%;
    left: 2%;
    width: 11.5%;
    height: auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_logo {
    top: auto;
    bottom: 3.5%;
    left: 2%;
    width: 59%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_mv .mv_chara {
    width: 103vw;
    height: 128vw;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner {
    padding: 24px 0 25px;
    /* padding-left: 5%; */
    background-size: 16px auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner .non_swiper {
    width: 100%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner .non_swiper a {
    display: inline-block;
    width: 43%;
    margin: 0 1%;
    overflow: hidden;
    text-align: center;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner .swiper-container {
    width: 110%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner .banner_pagination {
    margin-top: 6px;
    text-align: left;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_banner .banner_pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #000;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule {
    width: 90%;
    padding: 59px 0 64px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule.active .schedule_wrap {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    text-align: center;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .btn_add {
    position: absolute;
    top: -42px;
    left: 0;
    width: 100%;
    padding-bottom: 0;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .btn_add a {
    display: block;
    position: absolute;
    top: 11.6%;
    left: 6.417%;
    width: 20%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img {
    width: 88%;
    margin: 0 auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame {
    padding: 35px 7% 25px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame::before {
    top: -14px;
    height: 32px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .img_frame .swiper-slide {
    padding-top: 110%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .swiper-pagination {
    bottom: -45px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_wrap .schedule_img .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #000;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender {
    width: 100%;
    min-width: 294px;
    margin-top: 123px;
    margin-left: 0;
    padding: 25px 0;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box {
    position: relative;
    height: 0;
    padding-bottom: 159%;
    overflow: hidden;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box iframe {
    position: absolute;
    top: -19.75%;
    left: 0;
    width: 100% !important;
    height: 119.75% !important;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie {
    padding: 47px 0 66px;
    background-size: 16px auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie.active .movie_content {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_deco {
    left: -19%;
    width: 54%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .content_title {
    margin-bottom: 31px;
    font-size: 0;
    letter-spacing: -.4em;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .content_title .title_line {
    width: 66%;
    font-size: 0;
    letter-spacing: -.4em;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .content_title .title_line li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    letter-spacing: normal;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .content_title .title_line li + li {
    transform: translateX(-20%);
    margin-left: 0;

    -webkit-transform: translateX(-20%);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_content {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap {
    width: 78%;
    margin-top: 0;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap .thumb::before {
    top: 8%;
    left: 8%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap .thumb::after {
    border-width: 3px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap .thumb .thumb_inner .thumb_img::after {
    background-size: 45px auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap .title {
    margin-top: 34px;
    font-size: 13px;
    line-height: 1.4em;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info {
    padding-top: 50px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info.active .info_wrap {
    transform: translateY(0px);

    -webkit-transform: translateY(0px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .content_title {
    margin-bottom: 30px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap {
    transform: translateY(20px);
    text-align: center;

    -webkit-transform: translateY(20px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_news {
    width: 100%;
    margin-right: 0;
    text-align: left;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li {
    padding: 17px 0 20px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li .date, .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_news .news_content .news_list li .title {
    font-size: 12px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_news .news_more {
    width: 75%;
    margin-top: 26px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_twitter {
    width: 90%;
    margin-top: 97px;
    padding: 20px 5% 24px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_info .info_wrap .info_twitter .twitter_name {
    top: -24px;
    font-size: 11px;
    letter-spacing: .075em;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    padding-top: 76px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link.active {
    transform: translateY(0px);

    -webkit-transform: translateY(0px);
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link .link_jump {
    width: 68%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link .link_jump::before {
    width: 20px;
    background-size: 13px auto;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link .link_jump p {
    width: 193px;
    padding-left: 24px;
    font-size: 13px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link .link_jump p::before {
    background-size: 20px auto;
  }
  .l-modal.l-modal_02.img {
    display: none !important;
  }
  .l-modal.l-modal_02.img .modal_content {
    top: 180px;
    width: 90%;
    border: 3px solid #000;
  }
  .l-modal.openingafter {
    width: 100%;
  }
  .l-modal.openingafter .modal_content {
    width: 100%;
  }
  .l-modal.openingafter .txt_season02 {
    width: 100%;
    margin: 0 auto 15px;
  }
  .l-modal.openingafter .season02_movie_wrap {
    width: 89.3%;
    margin: auto;
    border: 4px solid #000;
  }
}

@media screen and (min-width: 374px) and (max-width: 379px) {
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box {
    padding-bottom: 154%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box iframe {
    top: -20%;
  }
}

@media screen and (min-width: 380px) and (max-width: 409px) {
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box {
    padding-bottom: 150%;
  }
}

@media screen and (min-width: 410px) and (max-width: 768px) {
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box {
    padding-bottom: 139%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box iframe {
    top: -20.5%;
  }
}

@media screen and (max-width: 321px) {
  .l-content .c-content_wrap .content_inner.top .top_section.top_schedule .schedule_calender .calender_box {
    padding-bottom: 177%;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_link .link_jump p {
    font-size: 12px;
  }
  .l-content .c-content_wrap .content_inner.top .top_section.top_movie .movie_wrap .title {
    font-size: 11px;
  }
}